@media (max-width: 1720px) {

    .period-cards,
    .album-timeline,
    .poriods-slider {
        margin-left: pxToRem(-20);
        margin-right: pxToRem(-20);
        padding-left: pxToRem(20);
        padding-right: pxToRem(20);
    }

    .album-timeline__wrapper:before {
        left: pxToRem(-20);
        width: calc(100% + pxToRem(40));
    }
}


@media (max-width: 1600px) {
    html {
        font-size: 14px;
    }

    .header__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;
        padding: pxToRem(100) 0 pxToRem(200);
    }

    .main-year-image {
        position: static;
    }

    .main-year-image {
        width: 33.5rem;
        height: 26rem;
    }

    .period-card__top {
        height: pxToRem(230);
    }

    .period-card__bottom {
        height: pxToRem(230);

    }

    .header {
        min-height: 100vh;
        padding-bottom: 0;
    }

    .period-card {
        width: pxToRem(320);
    }

    .activities,
    .album-section,
    .video-section {
        padding: pxToRem(50) 0;
    }

    .works-header {
        padding-bottom: pxToRem(30);
    }
}

@media (max-width: 1440px) {
    html {
        font-size: 13.5px;
    }

    .container {
        max-width: initial;
    }

    .counter__item {
        width: pxToRem(170);
        height: pxToRem(260);
    }

    .counter-num {
        font-size: pxToRem(210);
    }

    .counter__descr {
        font-size: pxToRem(60);
    }

    .good-works-counter,
    .counter__wrapper,
    .counter-progress {
        margin-bottom: pxToRem(40);
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 12px;
    }

    .footer__wrapper {
        gap: pxToRem(30);
    }

    .feedback-btn {
        margin-left: pxToRem(20);
    }
}

@media (max-width: 992px) {

    .header__bottom {
        margin: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: pxToRem(40);
    }

    .header {
        min-height: initial;
    }

    .modal-section__image {
        width: pxToRem(220);
        height: pxToRem(220);
    }

    .footer__title {
        br {
            display: block;
        }
    }

    .footer__logo {
        width: pxToRem(250);
    }
}

@media (max-width: 900px) {
    .footer__wrapper {
        flex-direction: column;
    }

    .footer__coll {
        justify-content: center;
        align-items: center;
        text-align: center;

        &:last-child {
            margin-left: inherit;
        }
    }

    .footer__links {
        text-align: center;
    }

    .footer__socials {
        flex-wrap: wrap;
        // flex-direction: column;
        justify-content: center;
    }

    .feedback-btn {
        width: 100%;
    }

    .footer__socials {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .modal-section__images {
        flex-wrap: wrap;
    }

    .footer {
        background-image: url(../img/footer-bg-mob.svg);
        background-size: 100% auto;
        background-position: bottom;
    }

    .footer__links {
        text-align: center;
    }

    .footer__top,
    .footer__bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: pxToRem(30);
    }

    .footer__socials {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback-btn {
        flex: 0 0 100%;
        text-align: center;
        margin: 0;
        order: -1;
    }

    .social-item {
        width: pxToRem(30);
        height: pxToRem(30);
    }

    .period-cards,
    .album-timeline,
    .poriods-slider,
    .activities__list {
        margin-left: pxToRem(-15);
        margin-right: pxToRem(-15);
        padding-left: pxToRem(15);
        padding-right: pxToRem(15);
    }

    .album-timeline__wrapper:before {
        left: pxToRem(-15);
        width: calc(100% + pxToRem(30));
    }


}


@media (max-width: 576px) {
    html {
        font-size: 16px;
    }

    .footer__logo {
        width: 100%;
    }


    .history {
        padding-top: pxToRem(30);
    }

    .header__logo {
        width: pxToRem(100);
        height: pxToRem(30);
    }


    .header__nav {
        z-index: 10;
        border-radius: 0px 0px pxToRem(10) pxToRem(10);
        border-bottom: pxToRem(6) solid #CC985D;
        background: #FFF;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        color: #002D74;
        gap: pxToRem(12);
        padding: pxToRem(24);
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        .header__link {
            font-size: pxToRem(24);
            line-height: 130%;
            color: #002D74 !important;
            width: fit-content;
        }
    }

    .mob-btn {
        display: flex;
        width: pxToRem(40);
        height: pxToRem(40);
    }

    .mob-btn__close {
        display: block;
        position: absolute;
        width: pxToRem(40);
        height: pxToRem(40);
        right: pxToRem(15);
        top: pxToRem(20);

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .main-title {
        font-size: pxToRem(42);
        order: 2;
    }

    .main-year-image {
        width: 80vw;
        height: 63vw;
    }

    .header {
        padding-top: pxToRem(20);
        background-image: url(../img/main-bg-mob.jpg);
    }

    .header::before {
        background-image: url(../img/main-before-mob.png);
        height: 2.5rem;
    }

    .header__bottom {
        padding-bottom: pxToRem(100);
        gap: pxToRem(70);
    }

    .modal-section__images {
        flex-direction: column;
    }

    .modal-section__title {
        font-size: pxToRem(28);
    }

    .modal-text-content {
        font-size: pxToRem(16);
    }

    .period-modal__title {
        font-size: pxToRem(24);
    }

    .period-modal,
    .album-modal {
        padding: pxToRem(16);
    }

    .period-modal__content {
        padding-bottom: pxToRem(24);
    }

    .modal-section__image {
        width: 100%;
    }

    .period-modal__body {
        padding: pxToRem(24);
        padding-top: 0;
    }

    .modal-section::before,
    .modal-section__title::before {
        display: none;
    }

    .modal-section {
        padding-left: 0;
    }

    .poriods-slider {
        margin-bottom: pxToRem(24);
    }

    .poriod-item {
        width: 80%;
    }


    .section-title {
        font-size: pxToRem(28);
        margin-bottom: pxToRem(24);
    }

    .custom-cards-pagination__item {
        color: transparent;
    }

    .custom-cards-pagination__item.current {
        color: #002D74;
    }

    .period-cards::before,
    .period-cards::after {
        display: none;
    }

    .period-cards {
        padding-top: pxToRem(32);
    }

    .period-card {
        width: 100%;
        border-radius: pxToRem(16);

        &.swiper-slide-active {
            transform: translateY(0) !important;

            .period-card__top {

                &::before {
                    opacity: 0;
                }
            }

            .period-card__year,
            .period-card__text {
                color: #fff;
            }

            .period-card__bottom img {
                filter: grayscale(0);
            }

            .card-btn {
                opacity: 1;
                visibility: visible;
            }
        }
    }


    .custom-cards-pagination {
        font-size: pxToRem(24);
    }

    .activities-item {
        width: 100%;
        height: 95vw;

        &.swiper-slide-active {
            &::before {
                opacity: 1;
            }
        }
    }

    .period-card__top {
        height: 60vw;
    }

    .period-card__bottom {
        height: 70vw;

    }

    .album-slide {
        height: auto;
        width: 100%;
    }

    .album-slide__wrapper {
        flex-direction: column;
    }

    .album-slide__image {
        width: 100%;
        height: 60vw;
    }

    .album-slide__content {
        height: 100%;
        padding: pxToRem(16) pxToRem(24);
        padding-bottom: pxToRem(31);
        background-image: url(../img/album-bg-mob.png);
    }

    .album-slide__year {
        font-size: pxToRem(48);
    }

    .album-slide__text {
        font-size: pxToRem(16);
        margin-bottom: pxToRem(40);
    }

    .album-slide__btn {
        font-size: pxToRem(24);
        padding: pxToRem(12);
        border-radius: pxToRem(10);
        gap: pxToRem(10);
    }

    .album-timeline {
        margin-bottom: pxToRem(20);
    }


    .album-timeline::before,
    .album-timeline::after {
        width: 20vw;
    }

    ._sliders-pagination {
        display: flex;
    }

    .period-modal__head {
        background-image: none;
        padding: pxToRem(16) pxToRem(20);
    }

    .modal-section {
        padding-bottom: pxToRem(16);
    }

    .group-thumbs .swiper-slide {
        width: 100%;
    }

    .group-thumbs .swiper-slide,
    .group-thumbs .swiper-wrapper {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .group-main__image .group-main__descr {
        padding: pxToRem(16);
        font-size: pxToRem(14);
        line-height: 120%;

        span {
            padding-left: pxToRem(16);
        }
    }

    .album-item__head {
        margin-bottom: pxToRem(25);
    }

    .group-thumbs__progress {
        margin-top: 0;
    }

    .group-main__image {
        height: 59vh;
    }

    .activities,
    .album-section,
    .video-section,
    .text-section,
    .suggest-event,
    .events-map,
    .gallery-of-reports {
        padding: pxToRem(45) 0;
    }

    .activities__list {
        padding-bottom: 0;
    }

    .footer__title {
        font-size: pxToRem(32);
    }

    .footer__wrapper {
        padding-top: pxToRem(45);
    }

    .footer {
        padding-bottom: pxToRem(45);
    }

    .modal-section__image {
        height: pxToRem(170);
    }

    .modal-section__image-descr {
        opacity: 1;
    }

    .modal-section__images {
        gap: pxToRem(12);
    }


    .auth-modal,
    .message-modal {

        .auth-modal__head,
        .auth-form,
        .message-form {
            padding: 20px;
        }

        .auth-modal__head {
            font-size: 32px;
        }

        .auth-submit-btn {
            font-size: 22px;
            margin-top: 20px;
        }
    }

    .message-form__text {
        font-size: 22px;
    }

    .report-slide {
        flex-direction: column;
        height: auto;
    }

    .report-slide__image {
        height: 100vw;
    }

    .report-slide__content {
        width: 100%;
    }

    .suggest-event__form {
        padding-left: 0;
    }

    .text-section__text {
        font-size: pxToRem(16);
    }

    .form-wrapper {
        gap: pxToRem(20);
    }

    .form-wrapper {
        margin-bottom: pxToRem(30);
    }

    .label-ico,
    .form-wrapper::before {
        display: none;
    }

    .activity-modal__body {
        padding: pxToRem(20) !important;
    }

    .period-modal__content,
    .activity-modal__content {
        padding-bottom: pxToRem(20);
    }

    .activity-modal__name {
        font-size: pxToRem(30);
    }

    .activity-modal__head {
        padding-top: pxToRem(20);
    }

    .form-label textarea.form-input {
        height: pxToRem(150);
    }

    .file-input {
        min-height: pxToRem(150);
    }

    .activity-modal__form {
        padding-top: pxToRem(20);
    }

    .period-modal,
    .activity-modal {
        padding: pxToRem(20);
    }

    // .activity-modal__content {
    // height: 100dvh !important;
    // }

    .counter__item {
        width: 100%;
        height: auto;
        padding-top: pxToRem(30);
        padding-bottom: pxToRem(30);
    }

    .counter__descr {
        font-size: pxToRem(42);
    }

    .counter-progress {
        padding: pxToRem(10);
    }

    .counter__item-w {
        width: calc(33.33% - pxToRem(15));
    }

    .counter-num {
        font-size: 32vw;
    }

    .activity-modal__body {
        padding: pxToRem(20) !important;

        .modal-section__images {
            margin-bottom: pxToRem(20);
        }

        .modal-section__title {
            margin-bottom: pxToRem(20);
        }
    }

    .activity-modal__head {
        padding: pxToRem(20) !important;
        padding-bottom: pxToRem(20) !important;
    }

    .form-label .form-input,
    .form-label .select2-selection__rendered,
    .select2-results__option {
        padding-right: pxToRem(10) !important;
        padding-left: pxToRem(10) !important;
    }

    .form-label .select2-selection__rendered {
        padding-right: pxToRem(30) !important;
    }

    .form-label span {
        font-size: pxToRem(14);
    }

    .select2-selection__arrow {
        right: pxToRem(15) !important;
    }

    .activity-modal__content {
        // height: auto !important;
    }

    .good-works-header {
        min-height: 100vh;
    }

    .good-works__btn {
        width: 100%;

        .good-works__btn-text {
            font-size: pxToRem(20);
            text-align: center;

        }
    }

    .counter-progress__bg {
        height: pxToRem(30);
    }

    .counter-progress__num {
        font-size: pxToRem(18);
    }

    .works-header {
        padding-bottom: pxToRem(20);
    }

    .works-section {
        padding: pxToRem(45) 0;
    }

    .toggle-block__wrapper {
        padding: pxToRem(16) pxToRem(20);
    }

    .toggle-block .toggle-block__title {
        font-size: pxToRem(24);
    }

    .toggle-block .toggle-block__descr {
        font-size: pxToRem(16);
    }

    .toggle-block {
        margin-bottom: pxToRem(40);
    }

    .works-list {
        margin-bottom: pxToRem(50);
    }
}